@font-face {
  font-family: "Factor A";
  src: url("../../../fonts/FactorAMedium-Regular.eot");
  src: local("Factor A Medium Regular"), local("FactorAMedium-Regular"),
    url("../../../fonts/FactorAMedium-Regular.woff2") format("woff2"),
    url("../../../fonts/FactorAMedium-Regular.woff") format("woff"),
    url("../../../fonts/FactorAMedium-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.app .container {
  width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.about {
  font-weight: lighter;
  color: white;
}
.about > h1 {
  font-family: "Factor A";
  font-size: 124px;
  margin: 85px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
